$body-bg-dark: #131b25;
$body-bg: #f4f9ff;
$info: #e31b6d;

$grid-breakpoints: (
  xs: 0,
  sm: 650px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../node_modules/bootstrap/scss/reboot";

@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/spinners";

@each $color, $value in $theme-colors {
  .shadow-#{$color} {
    box-shadow: 0 0 0.5rem rgba($value, 0.7);
  }
}

html {
  scroll-padding-top: 75px;
}

.nav-link {
  @include font-size(1.3rem);
}

.nav-link:hover {
  text-shadow: 0 0 1rem $info, 0 0 1rem $info, 0 0 1rem $info;
}

.display-6 {
  @include font-size(2rem);
}

#language-toggler,
#theme-toggler {
  cursor: pointer;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#showMore svg {
  transition: transform 0.5s;
}

#showMore:not(.collapsed) svg {
  transform: scaleY(-1);
}

#projectCards > * > * {
  min-height: 415px;
}

.form-floating > input.form-control {
  min-height: 3rem;
  height: 3rem;
}

.form-floating > textarea.form-control {
  min-height: 8rem;
  height: 8rem;
}

.form-floating > label {
  padding-top: 12px;
  height: 30%;
}

.form-control:focus {
  border-color: $info !important;
  box-shadow: 0 0 8px $info;
}

button[type="submit"] {
  width: 76px;
  height: 38px;
}

@include media-breakpoint-up(sm) {
  .w-sm-75 {
    width: 75% !important;
  }
  
  .w-sm-100 {
    width: 100% !important;
  }
}

//@import "../node_modules/bootstrap/scss/bootstrap.scss";
